<div class="h-screen mt-16 md:mt-0 p-4">
  <div class="h-full flex flex-col mt-16 gap-y-4 gap-x-4 md:flex-row">

    <div class="h-full text-center flex flex-col content-center gap-y-4">
      {{!-- <div class="bg-white rounded-md w-36 h-36 mx-auto"></div> --}}
      <h1 class="text-2xl">Cleve</h1>
      <p>            
      I am a web developer with a love of all things back-end. My contributions to this project were all front end for this project. I was responsible for everything you see on this project.
      </p>
      <a class="block hover:text-[#C89B3C] " href="https://github.com/CleveHardcastle">Github</a>
      <a class="block hover:text-[#C89B3C] " href="https://www.linkedin.com/in/cleve-hardcastle-iii-8ab993259/">LinkedIn</a>
    </div>
    <div class="h-full text-center flex flex-col content-center gap-y-4">
      <h1 class="text-2xl">Jaret</h1>
      <p>            
      My name is Jaret Ishii and I am a web developer. I worked on much of the back end routing and database work for this project.  For example, I worked on the User dashboard as well as the Messaging rooms that users can join.
      </p>
      <a class="block hover:text-[#C89B3C] " href="https://github.com/smudge121">Github</a>
      <a class="block hover:text-[#C89B3C] " href="https://www.linkedin.com/in/jaret-ishii/">LinkedIn</a>
    </div>
    <div class="h-full text-center flex flex-col content-center gap-y-4">
      <h1 class="text-2xl">Stephanie</h1>
      <p>            
      I am a full-stack web developer in the making. who strives to learn and improve. I am comfortable with both front-end and back-end code and am always down to learn new things. I am also a coffee addict.
      </p>
      <a class="block hover:text-[#C89B3C] " href="https://github.com/wytseng">Github</a>
      <a class="block hover:text-[#C89B3C] " href="https://www.linkedin.com/in/wytseng/">LinkedIn</a>
    </div>
    <div class="h-full text-center flex flex-col content-center gap-y-4">
      <h1 class="text-2xl">Travis</h1>
      <p>            
      My name is Travis, I'm learning to become a full-stack web developer, always trying to better understand things today than I did yesterday. Also a lover off all things coffee.
      </p>
      <a class="block hover:text-[#C89B3C] " href="https://github.com/talexander91">Github</a>
      <a class="block hover:text-[#C89B3C] " href="https://www.linkedin.com/in/travis-alexander-a00033ba/">LinkedIn</a>
    </div>
  </div>
</div>