

<section class="h-screen">
  <div class="h-full columns-4">
    <div class="h-full text-center">
      box 1
    </div>
    <div class="h-full text-center">
      box 1
    </div>
    <div class="h-full text-center">
      box 1
    </div>
    <div class="h-full text-center">
      box 1
    </div>
</section>