<div class="h-screen mt-16 md:mt-0 p-4">
  <div class="h-full flex flex-col mt-16 gap-y-4 gap-x-4 md:flex-row">

      <div class="h-full text-center flex flex-col content-center gap-y-4">
        <div class="bg-white rounded-md w-36 h-36 mx-auto"></div>
          <h1 class="text-2xl">Cleve</h1>
        <p>            
        I am a web developer with a love of all things back-end. My contributions to this project were all front end for this project. I was responsible for everything you see on this project.
        </p>
        <a class="block hover:text-[#C89B3C] " href="https://github.com/CleveHardcastle">Github</a>
        <a class="block hover:text-[#C89B3C] " href="https://www.linkedin.com/in/cleve-hardcastle-iii-8ab993259/">LinkedIn</a>
      </div>
      <div class="h-full text-center flex flex-col content-center gap-y-4">
        <div class="bg-white rounded-md w-36 h-36 mx-auto"></div>
          <h1 class="text-2xl">Jaret</h1>
        <p>            
        about meLaborum dolore dolore cillum velit nulla deserunt enim mollit in adipisicing velit labore.
        </p>
        <a class="block hover:text-[#C89B3C] " href="https://github.com/smudge121">Github</a>
        <a class="block hover:text-[#C89B3C] " href="https://www.linkedin.com/in/jaret-ishii/">LinkedIn</a>
      </div>
      <div class="h-full text-center flex flex-col content-center gap-y-4">
        <div class="bg-white rounded-md w-36 h-36 mx-auto"></div>
          <h1 class="text-2xl">Stephanie</h1>
        <p>            
        about meLaborum dolore dolore cillum velit nulla deserunt enim mollit in adipisicing velit labore.
        </p>
        <a class="block hover:text-[#C89B3C] " href="https://github.com/wytseng">Github</a>
        <a class="block hover:text-[#C89B3C] " href="https://www.linkedin.com/in/wytseng/">LinkedIn</a>
      </div>
      <div class="h-full text-center flex flex-col content-center gap-y-4">
        <div class="bg-white rounded-md w-36 h-36 mx-auto"></div>
          <h1 class="text-2xl">Travis</h1>
        <p>            
        about meLaborum dolore dolore cillum velit nulla deserunt enim mollit in adipisicing velit labore.
        </p>
        <a class="block hover:text-[#C89B3C] " href="https://github.com/talexander91">Github</a>
        <a class="block hover:text-[#C89B3C] " href="https://www.linkedin.com/in/travis-alexander-a00033ba/">LinkedIn</a>
      </div>

    </div>
</div>