<div class="h-screen mt-16 md:mt-0 p-4">
  <div class="h-full flex flex-col mt-16 gap-y-4 gap-x-4 md:flex-row">

      <div class="h-full text-center flex flex-col content-center gap-y-4">
        <div class="bg-white rounded-md w-36 h-36 mx-auto"></div>
          <h1 class="text-2xl">name</h1>
        <p>            
        about meLaborum dolore dolore cillum velit nulla deserunt enim mollit in adipisicing velit labore.
        </p>
        <a class="block" href="#">Github</a>
        <a class="block" href="#">LinkedIn</a>
      </div>
      <div class="h-full text-center flex flex-col content-center gap-y-4">
        <div class="bg-white rounded-md w-36 h-36 mx-auto"></div>
          <h1 class="text-2xl">name</h1>
        <p>            
        about meLaborum dolore dolore cillum velit nulla deserunt enim mollit in adipisicing velit labore.
        </p>
        <a class="block" href="#">Github</a>
        <a class="block" href="#">LinkedIn</a>
      </div>
      <div class="h-full text-center flex flex-col content-center gap-y-4">
        <div class="bg-white rounded-md w-36 h-36 mx-auto"></div>
          <h1 class="text-2xl">name</h1>
        <p>            
        about meLaborum dolore dolore cillum velit nulla deserunt enim mollit in adipisicing velit labore.
        </p>
        <a class="block" href="#">Github</a>
        <a class="block" href="#">LinkedIn</a>
      </div>
      <div class="h-full text-center flex flex-col content-center gap-y-4">
        <div class="bg-white rounded-md w-36 h-36 mx-auto"></div>
          <h1 class="text-2xl">name</h1>
        <p>            
        about meLaborum dolore dolore cillum velit nulla deserunt enim mollit in adipisicing velit labore.
        </p>
        <a class="block" href="#">Github</a>
        <a class="block" href="#">LinkedIn</a>
      </div>

    </div>
</div>