{{#each rooms as |room|}}
  <div class="border-[#494B50] bg-[#494B50] w-full md:w-11/12 h-[239px] p-4 m-3">
  <p class="text-2xl underline">{{room.title}}:</p> 
  <p class="text-center">{{room.description}}</p>
  </div>
{{/each}}