{{#each rooms as |room|}}
<p>{{room.title}}: {{room.description}}</p>
<a href="/room/{{room.id}}">join room</a>
{{/each}}
<div>
<a href="/login">login here</a>
<a href="/dashboard">Dashboard</a>
</div>